* {margin: 0; padding: 0; vertical-align: top; }
a{color: #FFF; text-decoration: none; }
li{list-style: none;}
body{width: 100%; height: 100vh; font-family: 'noto sans kr'; background: url('../images/bg.jpg') no-repeat 50% 50%;}

#video_bg{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:-999;
}
.main_title{width: 70%;
    padding: 5%;
    text-align: center;
    margin: 200px auto 0 auto;
    background: rgba(0, 0, 0, 0.5);
}

.lean_more{
    width: 200px;
    border: 1px solid #FFF;
    margin: 50px auto 0 auto;
}
.lean_more a{
    display: block;
    padding: 15px;
}
.lean_more:hover{
    border: 1px solid orange;
    background: rgba(0, 0, 0, 0.7);
}
.menu_hidden{
    display: none;
}
@media screen and (max-width:1280px) {
    .main_title{
        width: 80%;
    }
    .main_title img{
        width: 90%;
    }
    .lean_more{
        width: 150px;
        margin-top: 5%; 
    }
    .lean_more a{
        font-size: 14px; 
    }
}
@media screen and (max-width:600px) {
    .main_title{
        width: 80%;
        padding: 20% 5%;
        margin-top: 25%;
    }
}
@media screen and (max-width:480px) {
    body{
        height: auto;
    }
    .main_title{
        width: 100%;
        padding: 20% 0%;
        margin-top: 5%;
    }
    .menu_hidden{
        display: block;
        width: 100%;
    }
    .menu_hidden li{
        text-align: center;
        box-shadow: 2px 2px 9px 1px #000;
    }
    .menu_hidden li a{
        display: block;
        font-size: 24px;
        padding: 16.666% 0;
        background: rgba(0, 0, 0, 0.7);
    }
    .menu_hidden li a:hover{
        background: rgba(0, 0, 0, 0.3);
    }
}